<section class="container mx-auto flex-1 pt-44 pb-10 px-5">
  <h1
    #heading
    class="text-5xl mb-7 sm:text-7xl lg:text-9xl lg:mb-20 font-medium"
  >
    Let's bring your amazing <br />ideas to life.
  </h1>
  <div #flexContainer class="flex mt-2 lg:mt-4">
    <div class="mr-7 lg:mr-14">
      <img src="https://img.icons8.com/laces/64/arrow.png" alt="arrow" />
    </div>
    <div>
      <p class="text-base sm:text-2xl mb-8">
        Together, what can we create? <br />Send an inquiry to us.
      </p>
    </div>
  </div>
  <div #relativeSection class="relative mx-auto max-w-[1080px] h-70">
    <!-- Typeform Embed -->
    <div data-tf-live="01J6M529PMGVB3VRF6J4K8WCYA"></div>
  </div>
</section>

<app-FAQ></app-FAQ>
<hr class="border-grey-soft" />

<div class="grid md:grid-cols-3 text-6xl mb-12 md:mb-14 gap-y-6">
  <div class="col-span-3 xl:col-span-2 pt-12">
    <h2
      #headline
      class="text-center md:text-left text-6xl lg:text-9xl tracking-tight lg:-mr-8 font-medium"
    >
      Get to know more about us
    </h2>
  </div>
  <div
    class="col-span-3 place-self-center xl:col-span-1 md:place-self-start xl:place-self-end"
  >
    <div
      class="cta-button flex justify-center items-center gap-2 bg-brand-default hover:bg-brand-dark px-6 py-[0.8rem] text-white text-lg ease-in rounded-full duration-300"
    >
      <a href="/about">About Us</a>
      <img
        width="32"
        height="32"
        src="https://img.icons8.com/hieroglyphs/32/FFFFFF/up-right.png"
        alt="up-right"
      />
    </div>
  </div>
</div>

<hr class="border-grey-soft" />

<app-footer></app-footer>
