<div #approachSection class="approach-section bg-brand-default text-white mb-10 ">
  <div class="content-wrapper ">
    <h2 class="title text-3xl lg:text-4xl xl:text-5xl font-semibold mb-4">Our Approach</h2>
    <p class="description text-3xl lg:text-4xl xl:text-5xl font-semibold lg:leading-[2.8rem] xl:leading-[3.6rem] mb-6 ">
      We seamlessly blend web development, design, and marketing to craft innovative digital experiences. Our unique approach—promoting your brand through creative giveaways like custom-labeled drinks and event-exclusive products—ensures your brand leaves a lasting impression, engaging audiences in a memorable and impactful way.
    </p>
  </div>
  <div class="content-wrapper pt-10">
    <h2 class="title text-3xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-black/65">Why Choose Us?</h2>
    <p class="description text-3xl lg:text-4xl xl:text-5xl font-semibold lg:leading-[2.8rem] xl:leading-[3.6rem] mb-4 text-black/65">
      Personalized service, innovative strategies, and a proven track record
      make us the ideal partner for your brand's success.
    </p>
  </div>
</div>
  