<!-- Navbar -->
<nav
  #navbar
  class="fixed flex w-full md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1536px] items-center justify-between px-8 py-8 bg-white border-b-[1px] z-[999]"
>
  <!-- Logo -->
  <div class="w-[11rem] lg:w-[15rem] -mt-4 cursor-pointer">
    <img
      src="../../../assets/Image/LabelFlow-logo.png"
      [routerLink]="['/']"
      alt="LabelFlow"
    />
  </div>

  <!-- Gmail -->
  <div>
    <p
      class="text-lg font-medium border-brand-default hover:text-brand-default ease-in duration-300 border-b-[1px] hidden lg:block"
    >
      labelflow.pro&commat;gmail.com
    </p>
  </div>

  <!-- call to book Menu -->
  <div class="button-container flex gap-x-10">
    <button
      (click)="openCalendly()"
      class="hidden lg:flex justify-center items-center gap-2 bg-brand-default hover:bg-brand-dark px-6 py-[0.8rem] text-white text-lg ease-in duration-200 rounded-full"
    >
      <div>Book a call</div>
      <img
        width="32"
        height="32"
        src="https://img.icons8.com/hieroglyphs/32/FFFFFF/up-right.png"
        alt="up-right"
      />
    </button>

    <!-- Hamburger Menu (also acts as close button) -->
    <div
      #hamburgerButton
      class="hamburger cursor-pointer h-14 w-14 rounded-full bg-black hover:bg-brand-default ease-in duration-200 flex flex-col justify-center items-center"
      (click)="toggleNav()"
    >
      <div class="bar w-6 h-0.5 bg-white mb-1"></div>
      <div class="bar w-6 h-0.5 bg-white mb-1"></div>
      <div class="bar w-6 h-0.5 bg-white"></div>
    </div>
  </div>
</nav>

<!-- Full-page Navigation -->
<div
  #fullpageNav
  id="fullpage-nav"
  class="fixed inset-0 bg-white z-10 hidden flex-col items-center justify-center text-black"
>
  <ul #navLinks class="text-5xl lg:text-7xl space-y-12 text-center">
    <li class="nav-link relative">
      <span
        class="hover-underline"
        [routerLink]="['/']"
        (click)="navigateToTop()"
        >Home</span
      >
    </li>
    <li class="nav-link relative">
      <span
        class="hover-underline"
        [routerLink]="['/about']"
        (click)="navigateToTop()"
        >About Us</span
      >
    </li>
    <li class="nav-link relative">
      <span
        class="hover-underline"
        [routerLink]="['/project']"
        (click)="navigateToTop()"
        >Projects</span
      >
    </li>
    <li class="nav-link relative">
      <span
        class="hover-underline"
        [routerLink]="['/contact']"
        (click)="navigateToTop()"
        >Contact</span
      >
    </li>
  </ul>
</div>
