<!-- Featured Projects Section -->
<div  class="featured-projects-section lg:py-16 px-4">
  <!-- Heading -->
  <h2 #headline
    class="text-5xl md:text-6xl xl:text-7xl 2xl:text-9xl font-medium text-left mb-4 lg:mb-16 w-1/2"
  >
    Featured Projects
  </h2>

  <!-- Featured Projects -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mb-16">
    <!-- Project 1 -->
    <div #project class="project-container overflow-hidden relative">
      <div class="pt-4">
        <img
          src="../../../../assets/Image/LOGOsports-logo.svg"
          alt="Product 1 Logo"
          class="w-44"
        />
      </div>
      <div class="project-description mt-2">
        <p class="text-lg">
          Sport: A Dynamic and Responsive Sports Website Sport is a cutting-edge
          sports website designed to deliver an immersive and engaging user
          experience. Built with React, SCSS, and a suite of powerful libraries,
          Sportify ensures seamless performance and stunning visuals across all
          devices.
        </p>
      </div>
      <div class="overflow-hidden relative w-full mt-4">
        <img
          class="project-image w-full object-cover transition-transform duration-500 hover:scale-110"
          src="../../../../assets/Image/screenshot4.jpeg"
          alt="Project 1 Image"
        />
        <div class="flex gap-2 flex-wrap  absolute bottom-4 left-4">
          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Web App Design
          </div>

          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Mobile Responsive
          </div>
        </div>
      </div>
    </div>
    
    <!-- Project 2 -->
    <div #project class="project-container overflow-hidden relative">
      <div class="pt-6">
        <img
          src="../../../../assets/Image/goodkitlogo.svg"
          alt="Product 1 Logo"
          class="w-44"
        />
      </div>
      <div class="project-description mt-2">
        <p class="text-lg">
          Goodkit: Modern and Simple Design for an Enhanced User Experience
          Goodkit is a sleek and modern website designed to provide users with a seamless and visually appealing experience. Utilizing the power of Slick Slider and advanced motion libraries, Goodkit ensures a dynamic and engaging interface that captivates users.
        </p>
      </div>
      <div class="overflow-hidden relative w-full mt-4">
        <img
          class="project-image w-full h-full object-cover transition-transform duration-500 hover:scale-110"
          src="../../../../assets/Image/screenshot1.jpeg"
          alt="Project 1 Image"
        />
        <div class="flex gap-2 flex-wrap  absolute bottom-4 left-4">
          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Web App Design
          </div>

          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Mobile Responsive
          </div>
        </div>
      </div>
    </div>
    
    <!-- Project 3 -->
    <div #project class="project-container overflow-hidden relative ">
      <div class="pt-4">
        <img
          src="../../../../assets/Image/logo.svg"
          alt="Product 1 Logo"
          class="w-44"
        />
      </div>
      <div class="project-description mt-2">
        <p class="text-lg">
          Trafalgar: Progressive and Affordable Virtual Healthcare

Trafalgar is a revolutionary virtual healthcare platform designed to provide accessible, affordable, and high-quality healthcare services to everyone. Available on both mobile and online platforms, Trafalgar ensures that healthcare is just a click away.
        </p>
      </div>
      <div class="overflow-hidden relative w-full mt-4">
        <img
          class="project-image w-full h-full object-cover transition-transform duration-500 hover:scale-110"
          src="../../../../assets/Image/screenshot3.jpeg"
          alt="Project 1 Image"
        />
        <div class="flex gap-2 flex-wrap  absolute bottom-4 left-4">
          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Web App Design
          </div>

          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Mobile Responsive
          </div>
        </div>
      </div>
    </div>
    
    <!-- Project 4 -->
    <div #project class="project-container overflow-hidden relative">
      <div class="pt-4">
        <img
          src="../../../../assets/Image/k.design.png"
          alt="Product 1 Logo"
          class="w-44 object-cover h-10"
        />
      </div>
      <div class="project-description mt-2">
        <p class="text-lg">
          Portfolio Website using ReactJS:
Tech Stack: We’ve built this website using ReactJS, ensuring a dynamic and responsive user interface.
Interactive Design: We’ve incorporated engaging features that showcase my skills and projects effectively.
Learning Journey: The website reflects my dedication to continuous learning in web development.
        </p>
      </div>
      <div class="overflow-hidden relative w-full mt-4">
        <img
          class="project-image w-full h-full object-cover transition-transform duration-500 hover:scale-110 "
          src="../../../../assets/Image/screenshot2.jpeg"
          alt="Project 1 Image"
        />
        <div class="flex gap-2  flex-wrap  absolute bottom-4 left-4">
          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Web App Design
          </div>

          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Mobile Responsive
          </div>
        </div>
      </div>
    </div>
    <div>
    <!-- graphic Project  -->
    <h2 #headline2
      class="text-5xl md:text-6xl xl:text-7xl 2xl:text-9xl font-medium text-left mb-4 lg:mb-16 xl:w-1/2"
      >
        Graphic Protfolio
      </h2>
    
    <div #project class="project-container overflow-hidden relative">
      <div class="pt-4">
        <img
          src="../../../../assets/Image/k.design.png"
          alt="Product 1 Logo"
          class="w-44 object-cover h-10"
        />
      </div>
      <div class="project-description mt-2">
        <p class="text-lg">
          Explore a range of graphic design projects on Behance, featuring unique brand identities, eye-catching packaging, and impactful social media campaigns. Discover print materials like brochures and business cards, along with vibrant digital illustrations and optimized web banners. Each project combines creativity and functionality, delivering high-quality visuals across industries. Check out the full projects on Behance to see the design journey unfold!
        </p>
      </div>
      <div class="overflow-hidden relative w-full mt-4 group">
        <img
          class="project-image w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          src="https://www.designportal.cz/wp-content/uploads/2017/10/behance-portfolio-review-00.jpg"
          alt="Project 1 Image"
        />
        <div
          class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500"
        >
          <div class="text-center text-white">
            <p class="text-2xl font-semibold">Check Out Portfolio</p>
            <a
              href="https://www.behance.net/krenilpatel2"
              target="_blank"
              class="mt-2 inline-flex items-center justify-center"
            >
            <img width="50" height="50" class="hover:shadow-cyan-500/50 hover:drop-shadow-lg" src="https://img.icons8.com/ios-filled/50/FFFFFF/link--v1.png" alt="link--v1"/>
            </a>
          </div>
        </div>
        <div class="flex flex-wrap gap-2 absolute bottom-4 left-4">
          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Logo Design
          </div>
      
          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Print Design
          </div>
          
          <div
            class="bg-white px-4 py-1 rounded-full hover:border-[1px] border-[1px] border-white hover:border-brand-default hover:text-brand-default ease-in duration-300"
          >
            Social Media Graphics
          </div>
        </div>
      </div>
      
    </div>
  </div>

  </div> 
  

  
</div>
