<!-- Fields of Specialization Section -->
<div class="specialization-section py-16 px-4 mt-20 lg:mt-44">
  <!-- Heading -->
  <h2
    #headline
    class="spec-text text-5xl md:text-6xl xl:text-7xl 2xl:text-9xl font-medium text-left lg:mb-16 w-3/4 lg:w-1/2 leading-[8rem]"
  >
    Our Fields of Specialization
  </h2>

  <!-- UI/UX Design -->
  <div #section class="flex pt-10 flex-col lg:flex-row items-center">
    <img
      class="w-3/4 sm:w-3/5 md:w-3/6 lg:w-3/6 xl:w-2/5 rounded-lg mb-8 lg:mb-0 drop-shadow-2xl"
      src="../../../../assets/Image/UIdesign2 (1).webp"
      alt="UI/UX Design Image"
      loading="lazy"
    />
    <div class="w-full llg:w-3/5 lg:pl-12">
      <h3 class="text-4xl font-semibold mb-4">UI/UX Design</h3>
      <p class="text-lg mb-6">
        We design interfaces that are both visually appealing and user-friendly,
        ensuring seamless user experiences across all platforms. Our focus is on
        creating designs that not only look great but also function efficiently.
      </p>
      <div class="flex gap-4 flex-wrap">
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Website Design</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Landing Pages</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Mobile App Design</span
        >
      </div>
    </div>
  </div>

  <!-- Web Development -->
  <div
    #section
    class="flex pt-10 xl:pl-44 flex-col-reverse lg:flex-row items-center"
  >
    <div class="w-full lg:w-3/5 lg:pr-12">
      <h3 class="text-4xl font-semibold mb-4">Web Development</h3>
      <p class="text-lg mb-6">
        Our web development services include creating high-performance websites
        that are fast, secure, and scalable. We work with the latest
        technologies to deliver custom solutions tailored to your specific
        needs.
      </p>
      <div class="flex gap-4 flex-wrap">
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Frontend Development</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Backend Development</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >E-commerce Solutions</span
        >
      </div>
    </div>
    <img
      class="w-3/4 sm:w-3/5 md:w-3/6 lg:w-3/6 xl:w-2/5 rounded-lg mb-8 lg:mb-0 drop-shadow-xl"
      src="../../../../assets/Image/code2.webp"
      alt="Web Development Image"
      loading="lazy"
    />
  </div>

  <!-- Graphic Design -->
  <div #section class="flex pt-10 flex-col lg:flex-row items-center">
    <img
      class="w-3/4 sm:w-3/5 md:w-3/6 lg:w-3/6 xl:w-2/5 rounded-lg mb-8 lg:mb-0 drop-shadow-2xl"
      src="../../../../assets/Image/graphicdesign.webp"
      alt="Graphic Design Image"
      loading="lazy"
    />
    <div class="w-full lg:w-3/5 lg:pl-12">
      <h3 class="text-4xl font-semibold mb-4">Graphic Design</h3>
      <p class="text-lg mb-6">
        Our graphic design services cover everything from brand identity to
        marketing materials. We create visually compelling graphics that
        effectively communicate your brand message and leave a lasting
        impression.
      </p>
      <div class="flex gap-4 flex-wrap">
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Brand Identity</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Print Design</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Digital Graphics</span
        >
      </div>
    </div>
  </div>

  <!-- Marketing -->
  <div
    #section
    class="flex pt-10 xl:pl-44 flex-col-reverse lg:flex-row items-center"
  >
    <div class="w-full lg:w-3/5 lg:pr-12">
      <h3 class="text-4xl font-semibold mb-4">Marketing</h3>
      <p class="text-lg mb-6">
        We specialize in digital marketing strategies that drive traffic,
        engagement, and conversions. From SEO to social media marketing, we
        ensure your brand gets noticed by the right audience.
      </p>
      <div class="flex gap-4 flex-wrap">
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >SEO</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Content Marketing</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Social Media</span
        >
      </div>
    </div>
    <img
      class="w-3/4 sm:w-3/5 md:w-3/6 lg:w-3/6 xl:w-2/5 rounded-lg mb-8 lg:mb-0"
      src="../../../../assets/Image/marketing 2.webp"
      alt="Marketing Image"
      loading="lazy"
    />
  </div>

  <!-- Campaigning -->
  <div #section class="flex pt-10 lg:pt-20 flex-col lg:flex-row items-center">
    <img
      class="w-3/4 sm:w-3/5 md:w-3/6 lg:w-3/6 xl:w-2/6 mb-8 lg:mb-0 drop-shadow-xl rounded-2xl"
      src="../../../../assets/Image/campaining.webp"
      alt="Campaigning Image"
      loading="lazy"
    />
    <div class="w-full lg:w-3/5 lg:pl-12">
      <h3 class="text-4xl font-semibold mb-4">Campaigning</h3>
      <p class="text-lg mb-6">
        We create impactful campaigns that resonate with your audience and
        promote your brand across various platforms. Whether it's a product
        launch or a brand awareness campaign, we help you achieve your marketing
        goals.
      </p>
      <div class="flex gap-4 flex-wrap">
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Product Launch</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Brand Awareness</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Social Campaigns</span
        >
      </div>
    </div>
  </div>
  <!-- Wordpress -->
  <div
    #section
    class="flex pt-10 xl:pl-44  lg:pt-20 flex-col-reverse lg:flex-row items-center"
  >
    <div class="w-full lg:w-3/5 lg:pl-12">
      <h3 class="text-4xl font-semibold mb-4">WordPress Development</h3>
      <p class="text-lg mb-6">
        Our WordPress development services provide you with custom, scalable,
        and user-friendly websites. Whether it's a blog, business site, or
        e-commerce platform, we ensure your WordPress site is optimized for
        performance and functionality.
      </p>
      <div class="flex gap-4 flex-wrap">
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Custom Themes</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Plugin Development</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >E-commerce Integration</span
        >
      </div>
    </div>
    <img
      class="w-3/4 sm:w-3/5 md:w-3/6 lg:w-3/6 xl:w-2/6 mb-8 lg:mb-0 rounded-2xl"
      src="../../../../assets/Image/wrodpress development.webp"
      alt="Campaigning Image"
      loading="lazy"
    />
  </div>

  <!-- app development -->
  <div #section class="flex pt-10 lg:pt-20 flex-col lg:flex-row items-center">
    <img
      class="w-3/4 sm:w-3/5 md:w-3/6 lg:w-3/6 xl:w-2/6 mb-8 lg:mb-0 rounded-2xl"
      src="../../../../assets/Image/app development.webp"
      alt="Campaigning Image"
      loading="lazy"
    />
    <div class="w-full lg:w-3/5 lg:pl-12">
      <h3 class="text-4xl font-semibold mb-4">App Development</h3>
      <p class="text-lg mb-6">
        Our app development services focus on creating high-quality, scalable,
        and user-friendly mobile applications. Whether it's for iOS, Android, or
        cross-platform, we deliver apps that meet your business needs and
        provide an exceptional user experience.
      </p>
      <div class="flex gap-4 flex-wrap">
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >IOS Development</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Android Development</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Cross-Platform Apps</span
        >
        <span
          class="border-brand-default border-[1px] hover:bg-brand-default hover:text-white ease-in duration-300 text-brand-default px-4 py-1 text-sm sm:px-6 sm:py-2 sm:text-base rounded-full"
          >Progressive Web Apps</span
        >
      </div>
    </div>
  </div>
</div>
