<!-- Hero Section -->
<div class="hero-section relative">
  <p #agencyText class="text-xl lg:text-2xl py-6 pl-2">Digital Agency</p>
  <p
    #locationText
    class="text-lg py-6 pl-2 absolute right-[10px] lg:right-[100px] top-6 uppercase"
  >
    Based In INDIA
  </p>

  <h1
    #headline
    class="headline text-5xl md:text-6xl xl:text-7xl 2xl:text-9xl font-medium mb-4"
  >
    Crafting <br />
    Unique Digital Journeys
  </h1>
  <p
    #subheadline
    class="subheadline text-2xl md:text-2xl lg:text-3xl mb-8 w-full sm:w-[70%] lg:w-[60%] leading-10"
  >
    Web Development, Graphic Design, and Creative Marketing Solutions to Elevate
    Your Business.
  </p>
  <div
    class="cta-button flex justify-center items-center gap-2 bg-brand-default hover:bg-brand-dark px-6 py-[0.8rem] text-white text-lg ease-in duration-200 rounded-full cursor-pointer"
    #ctaButton
    (click)="openCalendly()"
  >
    <a > Get Started Today </a>
    <img
      width="32"
      height="32"
      src="https://img.icons8.com/hieroglyphs/32/FFFFFF/up-right.png"
      alt="up-right"
    />
  </div>
</div>
