<div #ClientSection class="our-clients-section py-8">
  <div  #headline class="content-wrapper text-left mb-8">
    <h2 class="theadline text-5xl md:text-6xl xl:text-7xl 2xl:text-9xl font-medium lg:w-2/3 mb-4">
      Our Trusted Partners
    </h2>
    <p  class="description text-2xl md:text-2xl lg:text-3xl font-medium mb-8 w-full sm:w-[70%] lg:w-[80%] leading-10">
      We take immense pride in partnering with brands that inspire and innovate. Our journey with these industry leaders fuels our passion for delivering exceptional results, and their trust is the ultimate testament to our unwavering commitment to excellence.
    </p>
  </div>

  <div class="client-logos-wrapper overflow-hidden relative w-screen pt-6">
    <div #clientLogosWrapper class="client-logos flex items-center gap-x-12 lg:gap-x-24 gap-y-2 h-12 ">
      <!-- Repeat this block for each client logo -->
      <div class="client-logo  opacity-70 flex-shrink-0 h-full">
        <img
          src="../../../assets/Image/k.design.png"
          alt="Client Logo"
          class="grayscale 	  filter w-auto h-full"
        />
      </div>
      <div class="client-logo opacity-70  flex-shrink-0  h-full">
        <img
          src="../../../assets/Image/logo.svg"
          alt="Client Logo"
          class="grayscale	  filter w-auto h-full"
        />
      </div>
      <div class="client-logo  opacity-70 flex-shrink-0  h-full">
        <img
          src="../../../assets/Image/LOGOsports-logo.svg"
          alt="Client Logo"
          class="grayscale 	 filter w-auto h-full"
        />
      </div>
      <div class="client-logo opacity-70  flex-shrink-0  h-full">
        <img
          src="../../../assets/Image/goodkitlogo.svg"
          alt="Client Logo"
          class="grayscale	  filter w-auto h-full"
        />
      </div>
      <div class="client-logo  opacity-70 flex-shrink-0  h-full">
        <img
          src="../../../assets/Image/k.design.png"
          alt="Client Logo"
          class="grayscale 	 filter opacity-70  w-auto h-full"
        />
      </div>
      <div class="client-logo flex-shrink-0 opacity-70 pt-2 h-full">
        <img
          src="../../../assets/Image/EVERYBODY.svg"
          alt="Client Logo"
          class="grayscale 	 filter opacity-70  w-auto h-full"
        />
      </div>
      <!-- Repeat ends -->
    </div>
  </div>
  
  <div class="border-b-[2px] w-screen py-12"></div>
  
  
</div>
