<section class="md:mx-auto flex-1 pt-14 lg:pt-[120px] px-5">
  <div class="grid grid-cols-3 text-5xl mb-12 md:mb-14">
    <div class="col-span-3 lg:col-span-2">
      <h2 #ReadyColabtitle class="text-center md:text-left text-6xl 2xl:text-9xl font-medium transition-all duration-1000">
        Ready to collaborate?
      </h2>
    </div>
  </div>
  <div #ReadyColabtitle  class="flex flex-col md:flex-row items-center text-lg sm:text-xl md:text-4xl pb-16 font-semibold ">
    <a href="mailto:labelflow@gmail.com" class="flex items-center hover:text-brand-default transition-colors duration-500">
      <img src="../../../../assets/Image/msg.svg" alt="Email us: LabelFlow" class="mr-4 md:mr-5 w-[42px] md:w-max" width="72" height="73">
      <span class="border-b-[1px]  border-brand-default hover:text-brand-default transition-colors duration-500     tracking-tight">labelflow.pro&commat;gmail.com</span>
    </a>
    <a class="bg-brand-default hover:bg-brand-dark text-white text-lg ease-in duration-200 rounded-full px-7 py-4 mt-8 md:ml-8 lg:ml-12 md:mt-0 flex gap-x-2 items-center cursor-pointer" (click)="openCalendly()"> Start a Project <img
      width="32"
      height="32"
      src="https://img.icons8.com/hieroglyphs/32/FFFFFF/up-right.png"
      alt="up-right"
    /></a>
  </div>
  <hr class="border-grey-soft">
</section>
