<footer #footer class="w-full my-16">
  <div class="container mx-auto flex-1 px-5">
    <div class="flex justify-center md:justify-start mb-14">
      <a href="/">
        <img
          src="../../../assets/Image/LabelFlow-logo.png"
          alt="LabelFlow"
          title="LabelFlow"
          class="w-[16rem]"
        />
      </a>
    </div>
    <div
      class="flex flex-col-reverse md:flex-row-reverse items-center justify-between gap-14"
    >
      <nav>
        <ul class="flex flex-wrap text-xl justify-center font-medium">
          <li class="flex">
            <a
              href="https://dribbble.com/LabelFlowpro"
              class="transition-colors duration-500 hover:text-brand-default uppercase flex"
              title="LabelFlow on Dribbble"
              >Dribbble</a
            >
            <p class="px-4 h-[130%]">/</p>
          </li>
          <li class="flex">
            <a
              href="https://www.behance.net/krenilpatel2"
              class="transition-colors duration-500 hover:text-brand-default uppercase flex"
              title="LabelFlow on Behance"
              target="_blank"
              >Behance</a
            >
            <p class="px-4 h-[130%]">/</p>
          </li>
          <li class="flex">
            <a
              href="https://www.linkedin.com/in/labelflow-pro/"
              class="transition-colors duration-500 hover:text-brand-default uppercase"
              title="LabelFlow on Linkedin"
              target="_blank"
              >Linkedin</a
            >
            <p class="px-4 h-[130%]">/</p>
          </li>
          <li>
            <a
              href="https://www.instagram.com/labelflowpro/"
              class="transition-colors duration-500 hover:text-brand-default uppercase flex"
              title="LabelFlow on Instagram"
              target="_blank"
              >Instagram</a
            >
          </li>
        </ul>
      </nav>
      <div class="text-base text-grey font-medium">
        © 2024 LabelFlow. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
